html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}
html,
body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
body {
  background-image: linear-gradient(to right, #43e97b 0, #38f9d7 100%);
}
.content {
  margin-top: 40px;
}
h1 {
  font-family: math;
  color: #fff;
  text-align: center;
  font-size: 34px;
}
.list {
  font-family: math;
  list-style: none;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #56ccf2;
  background: #dbf6ff;
  word-break: break-all;
}
.list li:last-child {
  margin: 0;
}
#generate-users,
#generate-names,
#generate-rvs,
#generate-icons {
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
}
button {
  font-family: math;
}
#quantity {
  font-family: math;
}
.bar {
  min-height: 46px;
  background: #fff;
  font-family: Arial;
  font-size: 14px;
  height: auto;
  overflow: hidden;
  position: relative;
}

aside {
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: calc(100% - 64px);
}

aside > div {
  display: flex;
  height: auto;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  flex-direction: row;
}

aside > div:nth-child(1) {
  justify-content: flex-start;
}

aside > div:nth-child(2) {
  justify-content: flex-end;
}

.btntab {
  background: transparent;
  border-radius: 0;
  border: 0;
  color: #666;
  padding: 2px 4px;
  text-decoration: none;
  height: 100%;
}
.btntab:hover {
  color: #1877f2;
  border: 0;
}
.btntab:focus,
.active {
  color: #1eaedb;
  border-bottom: 5px solid #1eaedb;
}
@media (max-width: 501px) {
  .bar {
    min-height: 158px;
    aside {
      position: absolute;
      left: 0;
      top: 0;
      text-align: center !important;
    }
  }
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
#GoToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: 0;
  background-color: #1eaedb;
  color: #fff;
  cursor: pointer;
  margin: 0;
  padding: 0 15px 0;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  border: 1px solid #fff;
}
#GoToTop:hover {
  background-color: #1eaedb;
}
.tooltip {
  position: relative;
  display: inline-block;
  width: 100%;
}
.tooltip .tooltiptext {
  display: none;
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
#textcopy,
#textusercopy,
#texticoncopy,
#textrvcopy {
  font-family: math;
  display: none;
}
#GoToBottom {
  display: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
#btntabicons,
#btntabrv {
  display: none;
}
